* {
    /*border: 1px solid red;*/
    background-color: black;
    width: auto;
}
.div  {
  background-color: black;
}

container  {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-content: center;
}
.jumbotron  {
  height: 300px;
  color: white;
  /*background-image: url("../images/jeopardy__board.png");*/
}
#category, #value, #question, #submit, #newQuestion, #answer {
  text-align: center;
  margin-top: 40px;
  margin: auto;
  width: 1200px;
}
#answer {
  height: 131px;
}
.container  {
  text-align: center;
}
.label_value  {
  color: yellow;
}
#answer_returned  {
    display: none;
}
#label_score  {
  font-size: 40px;
}
#score_tl {
  font-size: 50px;
}
#newQuestion  {
  margin-bottom: 60px;
}
#score  {
padding-bottom: 60px;
text-align: center;
margin-top: 40px;
margin: auto;
width: 1200px;
}
